Resume
Personal Information:
#evaluate($resume.personalInfo)

Educations
#foreach($education in $resume.educations)
    #evaluate($education)

#end

Experiences
#foreach($experience in $resume.experiences)
* #evaluate($experience.company.title)
    #evaluate($dateTool.format('MMMM yyyy', $experience.dateFrom))
    #if($experience.dateTo)
    - #evaluate($dateTool.format('MMMM yyyy',$experience.dateTo))
    #else
    - #evaluate("Current")
    #end

#end

Academic Projects

#foreach($academicProject in $resume.academicProjects)
* #evaluate($academicProject.title)
Course: #evaluate($academicProject.course)
Date: #evaluate($dateTool.format('MMMM yyyy',$academicProject.date))
    #if($academicProject.description)
    Description: #evaluate($academicProject.description)
    #end
Technologies:
    #foreach($technology in $academicProject.technologies)
- #evaluate($technology.title)
    #end

#end
Sincerely yours -
Generation Date: $dateTool.get('MMMM yyyy')