<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <h1>This is Common Header</h1>
    </div>
    <div th:fragment="footer(currentPage)">
        <tr th:each="page: ${pages}">
            <span th:if="${page.key != currentPage}">
                <a th:href="${page.key}" th:text="${page.value}"/>
            </span>
        </tr>

    </div>
</body>
</html>