<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
SLAMAMMMMMMM
<h1 th:text="${personalInfo.name}"/>
<h1 th:text="${personalInfo.family}"/>
<p th:text="${personalInfo}"/>

<a href="language">Languages</a>
</body>
</html>